<div class="flex flex-col bg-surface pb-6">
  <header class="px-4 pt-6 pb-4 border-b border-borders shrink-0">
    <h2 class="text-2xl font-medium m-0 text-primary-font">Add tee</h2>
  </header>

  <div class="flex-1 px-4 py-6">
    <form [formGroup]="teeForm" (ngSubmit)="onSubmit()" autocomplete="off" class="flex flex-col gap-6">
      <app-tee-form [parentForm]="teeForm" [submitCount]="teeSubmitCount"></app-tee-form>

      <button
        type="submit"
        class="flex items-center justify-center gap-1 px-4 py-2 rounded-lg bg-primary text-onyx text-lg font-medium border-none outline-none h-14 active:scale-[0.98] transition-transform"
      >
        Save tee
      </button>
    </form>
  </div>
</div>
