<ion-tabs>
  <ion-tab-bar
    slot="bottom"
    class="h-[80px] pb-4 bg-surface/80 backdrop-blur-md [--background:transparent] [--border:0] [--color:var(--color-primary-font)] [--color-selected:var(--color-primary-light)]"
  >
    <ion-tab-button tab="home" aria-label="Home" class="bg-transparent [--background:transparent]">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="rounds" aria-label="Rounds" class="bg-transparent [--background:transparent]">
      <ion-icon name="book"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="courses" aria-label="Courses" class="bg-transparent [--background:transparent]">
      <ion-icon name="golf"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
