<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 mb-1"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
        <polyline points="9 22 9 12 15 12 15 22" />
      </svg>
    </ion-tab-button>
    <ion-tab-button tab="rounds">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 mb-1"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H20v20H6.5a2.5 2.5 0 0 1 0-5H20" />
      </svg>
    </ion-tab-button>
    <ion-tab-button tab="courses">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 mb-1"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M7 22V2l10 5-10 5" />
        <ellipse cx="14" cy="20" rx="3" ry="1" />
      </svg>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
