<div class="flex h-full flex-col">
  <div class="flex-1 overflow-y-auto">
    <router-outlet></router-outlet>
  </div>

  <nav class="bg-surface/80 flex h-[80px] items-center justify-around pb-4 backdrop-blur-md">
    <button
      type="button"
      class="text-primary-font flex flex-1 flex-col items-center justify-center bg-transparent border-none cursor-pointer"
      [class.text-primary-light]="isTabActive('home')"
      (click)="handleTabClick('home')"
      aria-label="Home"
    >
      <ng-icon name="ionHome" size="1.5rem"></ng-icon>
    </button>
    <button
      type="button"
      class="text-primary-font flex flex-1 flex-col items-center justify-center bg-transparent border-none cursor-pointer"
      [class.text-primary-light]="isTabActive('rounds')"
      (click)="handleTabClick('rounds')"
      aria-label="Rounds"
    >
      <ng-icon name="ionBook" size="1.5rem"></ng-icon>
    </button>
    <button
      type="button"
      class="text-primary-font flex flex-1 flex-col items-center justify-center bg-transparent border-none cursor-pointer"
      [class.text-primary-light]="isTabActive('courses')"
      (click)="handleTabClick('courses')"
      aria-label="Courses"
    >
      <ng-icon name="ionGolf" size="1.5rem"></ng-icon>
    </button>
  </nav>
</div>
