@import '@fontsource-variable/ibm-plex-sans';
@import 'tailwindcss';

@theme {
  --color-bright-amber: #facc15;
  --color-jasmine: #fce279;
  --color-onyx: #111113;
  --color-carbon-black: #18181b;
  --color-graphite: #303036;
  --color-platinum: #f2f2f3;
  --color-alabaster-grey: #e4e4e7;
  --color-brick-ember: #ca0c02;
  --color-vibrant-coral: #fd6f68;
  --color-dark-spruce: #1c4a2b;
  --color-jungle-green: #3fa662;
  --color-celadon: #90d5a7;
  --color-frosted-blue: #9ce7fc;

  --color-primary: var(--color-bright-amber);
  --color-primary-light: var(--color-jasmine);
  --color-background: var(--color-onyx);
  --color-surface: var(--color-carbon-black);
  --color-borders: var(--color-graphite);
  --color-primary-font: var(--color-platinum);
  --color-secondary-font: var(--color-alabaster-grey);
  --color-error: var(--color-brick-ember);
  --color-error-light: var(--color-vibrant-coral);
  --color-success: var(--color-jungle-green);
  --color-success-light: var(--color-celadon);

  --font-sans: 'IBM Plex Sans Variable', sans-serif;
  --font-weight-light: 400;
  --font-weight-medium: 600;
}

@layer base {
  html,
  body {
    height: 100%;
    margin: 0;
  }

  body {
    font-family: var(--font-sans);
    font-weight: 500;
    background-color: var(--color-background);
    color: var(--color-primary-font);
    overflow: hidden;
  }
}
